.carouselContainer {
    display: none;
    width: 100%;
}

.parentContainer {
    display: block;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -2em;
}

.headerContainer {
    margin-top: 5em;
    text-align: center;
}

.subheader {
    margin-top: -0.5em;
    font-weight: bold;
    font-size: 1.6em;
    color: #FF0082;
}

.header {
    font-size: 1.5em;
    font-style: italic;
    color: #FF0082;
}

.enquireNowContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 10em;
    margin-bottom: 2em;
}

.servicesContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.servicesSubcontainer {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
}

.brandingServiceContainer {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

@media only screen and (max-width: 965px) {

    .servicesSubcontainer {
        flex-direction: column;
    }

    .headerContainer {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .headerContainer .header {
        font-size: 1.5em;
    }

    .carouselContainer {
        display: block;
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .parentContainer {
        display: none;
    }

}

@media only screen and (max-width: 510px) {

    .headerContainer {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .header {
        display: none;
    }

    .subheader {
        margin-top: 1em;
        font-weight: bold;
        font-size: 1.4em;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .servicesContainer {
        flex-direction: column;
    }

    .servicesSubcontainer {
        flex-direction: column;
        margin-bottom: -2em;
    }

    .brandingServiceContainer {
        margin: auto;
    }

    .enquireNowContainer {
        margin-top: 3em;
    }

}