/** Services.tsx **/

.superParentHide, .superParentShow {
    padding-top: 3em;
    background-color: #D9D9D933;
    padding-bottom: 3em;
}

.superParentShow {
    animation: fadeIn 1s;
}

.superParentHide {
    opacity: 0;
    animation: fadeOut 0.5s;
}

.parent {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mobileParent {
    display: none;
}

.serviceGraphicContainer {
    margin-left: 2em;
    margin-right: 2em;
}

@media only screen and (max-width: 900px) {

    .superParentHide, .superParentShow {
        background-color: white;
        padding-top: 0em;
        padding-bottom: 2em;
        margin-top: -3em;
    }
    
    .parent {
        display: none;
    }

    .mobileParent {
        display: block;
    }

}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}