/** Services.tsx **/

.superParent {
    padding-top: 1em;
    background-color: #D9D9D933;
    padding-bottom: 1em;
}

.parent {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.serviceGraphicContainer {
    margin-left: 2em;
    margin-right: 2em;
}