.parentShow, .parentHide {
    background-color: #FFBF4F;
    padding-top: 1em;
    padding-bottom: 3em;
    position: relative;
}

.parentShow {
    animation: slideFromLeft 1s;
    right: 0em;
}

.parentHide {
    right: 100em;
    animation: slideToLeft 1s;
}

.questionsContainerDesktop {
    display: block;
}

.questionsContainerMobile {
    display: none;
}

@media only screen and (max-width: 700px){

    .parentShow, .parentHide {
        background-color: #FFFFFF;
        padding-bottom: 1em;
        position: relative;
    }

    .questionsContainerDesktop {
        display: none;
    }
    
    .questionsContainerMobile {
        display: block;
    }

    .questionsContainerMobile p {
        font-size: 0.7em;
    }

} 


/* Animations */

@keyframes slideFromLeft {
    0%{
        right: 10em;
        opacity: 0;
    }
    100% {
        right: 0;
        opacity: 1;
    }
}

@keyframes slideToLeft {
    0% {
        right: 0;
        opacity: 1;
    }
    100% {
        right: 60em;
        opacity: 0;
    }
}