/* Button.tsx */

.container {
    height: 2em;
    width: 10em;
    color: white;
    border-radius: 100em;
    padding-bottom: 0.3em;
}

.container .text {
    line-height: 2.4em;
    text-align: center;
    font-weight: bold;
}