/* Button.tsx */

.container {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 2em;
    width: 100%;
    border-radius: 100em;
    padding-bottom: 0.3em;
    transition: 0.3s;
}

.container:hover{
    opacity: 0.7;
    transition: 0.3s;
}

.iconContainer {
    position: relative;
    top: 0.7em;
    padding-left: 1em;
}

.text {
    color: white;
    font-weight: bold;
    position: relative;
    bottom: 0.45em;
    padding-right: 0.5em;
    padding-left: 0.5em;
}