/* PackageGraphic.tsx */

.graphicContainer {
    background-color: white;
    width: 18em;
    padding-bottom: 0.1em;
    border-radius: 2em;
    height: 22em;
}

.header {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.description {
    text-align: center;
    padding: 2.1em;
    font-size: 0.9em;
}

.inclusionListContainer {
    margin-top: -1em;
}

.inclusionListHeader {
    font-weight: bold;
    text-align: center;
}

.inclusionList {
    list-style: none;
    text-align: center;
    padding-left: 0em;
    margin-top: -0.5em;
}

.inclusionList li {
    font-size: 0.9em;
    padding-top: 0.1em;
    padding-bottom: 0.2em;
}

.costHeader {
    font-weight: bold;
    font-size: 0.7em;
    text-align: center;
    margin-bottom: -1.9em;
}

.cost {
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 1em;
}

@media only screen and (max-width: 930px) {

    .graphicContainer {
        margin-top: -1em;
        width: 20em;
        margin-left: auto;
        margin-right: auto;
    }

}

@media only screen and (max-width: 540px) {

    .description {
        font-size: 0.6em;
    }

    .inclusionList li {
        font-size: 0.6em;
    }

    .graphicContainer {
        width: 80%;
        height: 100%;
    }

}