/* PortfolioCarousel.tsx */

.parent {
    text-align: center;
    padding-bottom: 4.5em;
    padding-top: 3em;
}

.imageContainer img {
    width: 50%;
}

.enquireNowContainer {
    width: 10em;
    margin-left: auto;
    margin-right: auto;
}

.textContainer {
    margin-top: -1em;
}

.textClient {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.textProject {
    font-size: 1.5em;
    font-weight: bold;
    color: #0150E8;

}

.tabContainer {
    margin-top: 2em;
    margin-bottom: 2em;
}

@media only screen and (max-width: 811px){
    .imageContainer img {
        width: 100%;
    }

    .textClient, .textProject {
        margin-bottom: 0.5em;
        font-size: 0.75em;
    }
    
}