/* Question.tsx */

.parent {
    display: flex;
    justify-content: center;
}

.questionTextContainer, .answerTextContainer {
    width: 35em;
}

.answerTextContainer {
    margin-top: -0.5em;
    text-align: left;
}

.questionIcon {
    background-color: white;
    border-radius: 100em;
    width: 1em;
    height: 1em;
    margin-top: 1.1em;
    margin-right: 1em;
}

.questionSymbol {
    font-size: 0.8em;
    text-align: center;
    color: #FFBF4F;
    font-weight: bold;
}

.questionText {
    color: white;
    font-weight: bold;
}

.answerText {
    font-size: 0.7em;
    color: white;
}

@media only screen and (max-width: 936px){

    .parent {
        width: 80%;
        margin: auto;
    }

    .questionTextContainer, .answerTextContainer {
        width: 100%;
    }

}

@media only screen and (max-width: 700px){

    .parent {
        display: block;
        text-align: center;
        margin-bottom: 2em;
    }

    .questionIcon {
        background-color: #FFBF4F;
        width: 3em;
        height: 3em;
        margin: auto;
    }

    .questionText {
        color: #FFBF4F;
        font-weight: bold;
    }
    
    .answerText {
        font-size: 0.7em;
        color: #FFBF4F;
        text-align: center;
    }

    .questionSymbol {
        position: relative;
        color: white;
        font-size: 2em;
        top: 0.15em;
    }

}