/** Landing **/

.parent {
    margin-left: 5em;
    padding-bottom: 3em;
}

.container {
    width: 100%;
    display: inline-block;
}

.container .text {
    font-size: 0.85em;
    margin-left: 6em;
    text-align: left;
    width: 70%;
}

.logo {
    margin-top: 5em;
    width: 22em;
    object-fit: contain; 
}

.buttonContainer {
    margin-left: 5.5em;
    margin-top: 3em;
}

@media only screen and (max-width: 700px)   {

    .logo {
        text-align: center;
        width: 80%;
    }

    .container .text {
        margin-left: 0em;
        width: 90%;
    }

    .buttonContainer {
        margin-left: 0em;
    }

}

@media only screen and (max-width: 520px)   {

    .parent {
        margin-left: 2em;
        padding-bottom: 3em;
    }

}