/** Landing **/

.parent {
    display: flex;
    width: 70%;
    margin: auto;
}

.container {
    width: 100%;
    display: inline-block;
}

.container .text {
    font-size: 0.85em;
    margin-left: 6em;
    text-align: left;
    width: 130%;
}

.logo {
    margin-top: 5em;
    width: 22em;
    object-fit: contain; 
}

.buttonContainer {
    margin-left: 5.5em;
    margin-top: 3em;
}

@media only screen and (max-width: 700px)   {
    
    .logo {
        text-align: center;
        width: 200%;
    }

    .container .text {
        margin-left: 0em;
        font-size: 0.8em;
        width: 200%;
    }

    .buttonContainer {
        margin-left: 0em;
    }

}