/* Input.tsx */

.input, .textarea {
    border-radius: 2em;
    border: 0em;
    background-color: #D9D9D9;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.textarea {
    padding-top: 1.5em;
}

.input::placeholder, .textarea::placeholder {
    color: white;
}

.input:focus, .textarea:focus {
    outline: none;
    box-shadow: inset 0 0 0 0.1em #FFBF4F;
}

@media only screen and (max-width: 700px){

    .input, .textarea {
        font-size: 0.8em;
    }

}