@font-face {
    font-family: "TTInterfaces";
    src: url("./assets/fonts/TTInterfaces-Regular.ttf"), format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "TTInterfaces-Medium";
    src: url("./assets/fonts/TTInterfaces-Medium.ttf"), format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "TTInterfaces-Bold";
    src: url("./assets/fonts/TTInterfaces-Bold.ttf"), format("truetype");
    font-weight: normal;
}

* {
    font-family: "TTInterfaces";
    font-weight: normal;
    font-size: 24px;
}