/* Banner.tsx */

.container {
    background-color: #FD3181;
    display: flex;
    justify-content: center;
}

.text {
    font-weight: bold;
    font-size: 1.7em;
    color: white;
}

.buttonContainer {
    width: 10em;
    margin-left: 4em;
    margin-top: 1.5em;
}

@media only screen and (max-width: 1061px) {

    .container {
        flex-direction: column;
        padding-bottom: 2em;
    }

    .textContainer {
        width: 80%;
        text-align: center;
        margin: auto;
    }

    .buttonContainer {
        margin-right: auto;
        margin-left: auto;
        margin-top: -1em;
    }

}